

<div class="container mt-5 work">
    <h1 class="text-center text-white ">Our Work</h1>


    <div class="row data mt-3">
        <div class="col-xs-4 col-sm-4 col-md-4" *ngFor="let work of allworks">
            <div class="mywork">
                
                    <img style="width: 100%;" src="https://res.cloudinary.com{{work.user_image}}" alt="{{work.title}}">
              

                    <p  class="text-white">{{work.description}}</p>

                    <!-- <select>
                        <option *ngFor="let work of allworks" [value]="work">{{work}}</option>

                    </select> -->
                    <!-- <p  class="text-white" >{{work.charity}}</p> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 "></div>
        <div class="col-xs-2 col-sm-2 col-md-2 ">
            <a href="" data-toggle="modal" data-target="#add_story1" class="btn btn-warning mt-1 px-4" >ADD STORY</a>
        
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 "></div>
        
        </div> 


        <div class="row">
            <div class="modal fade" id="add_story1" tabindex="-1" role="dialog" aria-labelledby="add_story1Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="beneficiary_form">
                            <h2 class="text-center text-warning ">Add Beneficiaries</h2>
                            <form enctype="multipart/form-data" [formGroup]="beneficiary" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <input type="text" formControlName="title" class="form-control" placeholder="Title" required>
                            </div>
                            <div class="form-group">
                                <textarea formControlName="description"  cols="50" rows="5" placeholder="Description" required></textarea>
                            </div>
                            <div class="form-group text-dark">
                                <select formControlName="charity">
                                    <option *ngFor="let work of allworks" >{{work.charity.users.user_name}}</option>

                                </select>
                                <!-- <input type="hidden" [(ngModel)]="beneficiary.charity" value="jitegemee"> -->
                            </div>
                            <div class="form-group">
                                <input formControlName="user_image" class="text-dark" type="file" required>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <div class="form-group">
                                    <button type="submit"  class="btn btn-warning ">Add Beneficiary</button>
                                    </div>
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5"></div>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                    <div class="form-group">
                                        <a data-dismiss="modal" class="btn btn-secondary">Close</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>