<div class="container mt-5 work">
    <h1 class="text-center text-white ">Our Work</h1>
    <!-- row 1 -->
    <div class="row data mt-3">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="data_column1"> 
            <p class="text-white ">Lorem ipsum dolor sit amet <br> consectetur, adipisicing elit.</p>
        </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 ">
            <div class="data_column2">
            <p class="text-white">Lorem ipsum dolor sit amet <br>consectetur, adipisicing elit.</p>
        </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="data_column3">
            <p class="text-white">Lorem ipsum dolor sit amet <br> consectetur, adipisicing elit.</p>
        </div>
        </div>   
         </div>

    <!-- /row 1 -->
 
<!-- row 2 -->
<div class="row data">
<div class="col-xs-4 col-sm-4 col-md-4 ">
    <div class="data_column1">
    <p class="text-white ">Lorem ipsum dolor sit amet <br> consectetur, adipisicing elit.</p>
</div>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 ">
    <div class="data_column2">
    <p class="text-white">Lorem ipsum dolor sit amet <br>consectetur, adipisicing elit.</p>
</div>
</div>

<div class="col-xs-4 col-sm-4 col-md-4 ">
    <div class="data_column3">
    <p class="text-white">Lorem ipsum dolor sit amet <br> consectetur, adipisicing elit.</p>
</div>
</div>   
 </div>

<!-- /row 2 -->

 <div class="row">
<div class="col-xs-5 col-sm-5 col-md-5 "></div>
<div class="col-xs-2 col-sm-2 col-md-2 ">
    <a href="" id="add_story" class="btn btn-warning mt-1 px-4" >ADD STORY</a>

</div>
<div class="col-xs-5 col-sm-5 col-md-5 "></div>

</div> 


<!-- <p class="text-white mt-4">Sign Up for our monthly Newletter:</p> -->

<!-- <form action="">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 ">
            <label for="" >Name:</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 ">
        <label for="">Email:</label>
        </div>
    </div>
<div class="row">
<div class="col-xs-6 col-sm-6 col-md-6 ">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 ">
            <input type="text"  placeholder="first name">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 ">
            <input type="text" placeholder="last name">
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 ">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 ">
            <input type="text" placeholder="example@gmail.com">        
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 ">
            <input type="submit" style="background: #FFCB74;" class="btn" value="Submit">
        </div>        
    </div>
</div>
</div>
</form> -->
</div>