.img1 {
  background-image: url(../../assets/Image-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 38vh;
}

.bgBlue {
  background-color: #33ACCB;  
  padding: 3rem;
  /* margin-top: 5rem; */
}