.img1 {
  background-image: url(../../assets/Image-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 38vh;
}

.position {
  position: relative;
  left: 33vw;
  top: 20vh;
}