<section class="container-fluid img1">
  <div class="row">
    <div class="col-xs-12 col-sm-6"></div>
    <div class="col-xs-12 col-sm-6">
      <div class="bgGlass">
        <div class="row">
          <h1>
            GIFT CATALOG
          </h1>     
        </div>
        <div class="row">
          <p>
            Give gifts that empower<br>kids to create lasting change.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid bgBlue">

  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>
            Education
          </h1>
          <p>
            Break the cycle of poverty by supporting education for children in need.
          </p>
        </div>
        <div class="col-md-4">
          <button type="submit" routerLink="donation" class="floating btn btn-warning ml-3 mb-3 btn-lg">GIVE NOW <i class="bi bi-arrow-right-square"></i></button>
        </div>
      </div>      
    </div>
  </div>
</section>

<!-- Looping through trial -->

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-md-3 mb-4" *ngFor='let charity of charitiesDisplay'>
      <div class="card mt-4">
        <a  [routerLink]="['/donation/'+charity.id]">        
          <img src="https://donationapp254.herokuapp.com{{ charity.charity_image }}" class="card-img-top" alt="{{charity.location}}">
        </a>
        
     
        <div class="card-body text-center">
          <a [routerLink]="['/donation/'+charity.id]">
            <h5 class="card-title text-white huvaLink">{{charity.users.user_name}}</h5>
          </a>
        </div>
      </div>      
    </div>
  </div>
</div>

<!-- End of iteration -->



<!-- Start of listing the objects -->

<!-- <section class="container mt-3">
  <div class="card-deck">
    <div class="card">
      <a href="#">
        <img class="card-img-top" src="../../assets/Image-2.jpg" alt="Card image cap">
      </a>
      <div class="card-body text-center">
        <a href="#">
          <h5 class="card-title paylink">Lea Toto Foundation</h5>
        </a>        
      </div>
    </div>
    <div class="card">
      <a href="#">
        <img class="card-img-top" src="../../assets/Image-4.jpg" alt="Card image cap">
      </a>
      <div class="card-body text-center">
        <a href="#">
          <h5 class="card-title paylink">Okoa Dada</h5>
        </a>        
      </div>
    </div>
    <div class="card">
      <a href="#">
        <img class="card-img-top" src="../../assets/Image-6.jpg" alt="Card image cap">
      </a>
      <div class="card-body text-center">
        <a href="#">
          <h5 class="card-title paylink">All for One Kenya</h5>
        </a>        
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card">
      <a href="#">
        <img class="card-img-top" src="../../assets/Image-3.jpg" alt="Card image cap">
      </a>
      <div class="card-body text-center">
        <a href="#">
          <h5 class="card-title paylink">Hope Worldwide</h5>
        </a>        
      </div>
    </div>
    <div class="card">
      <a href="#">
        <img class="card-img-top" src="../../assets/Image-5.jpg" alt="Card image cap">
      </a>
      <div class="card-body text-center">
        <a href="#">
          <h5 class="card-title paylink">Nyumbakumi Initiative</h5>
        </a>        
      </div>
    </div>
    <div class="card">
      <a href="#">
        <img class="card-img-top" src="../../assets/Image-7.jpg" alt="Card image cap">
      </a>
      <div class="card-body text-center">
        <a href="#">
          <h5 class="card-title paylink">Sipdada Foundation</h5>
        </a>        
      </div>
    </div>
  </div>
</section> -->
