
.logo {
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
  margin-top: 0.3em;
}


/* .site-header .navbar-nav .nav-link:hover {
  text-decoration: underline 3px;
} */

.site-header .navbar {
  background-color: #2F2F2F;
}

/* End of NavBar styles */

