<div class="container">
  <div class="row bgWhite">

    <div class="col-sm-3">
      <h5>
        HOPE Worldwide
      </h5>
    </div>
    <div class="col-sm-4">
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="50">
        <div class="input-group-append">
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>ONE-TIME</option>
            <option value="1">MONTHLY</option>
            <option value="2">YEARLY</option>
          </select>
        </div>
      </div>
      
    </div>
    <div class="col-sm-3">
      <div class="row d-flex justify-content-center">
        <button type="submit" class="btn btn-info ml-3 mb-3">UPDATE</button>
      </div>
      <div class="row d-flex justify-content-center">
        <button type="submit" class="btn text-info ml-3 mb-3">Remove</button>
      </div>
    </div>
    <div class="col-sm-2 d-flex justify-content-center">
      $ 50
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="content">
        <div class="row">
          <div class="col-sm-4 pt-2">
            <img src="../../assets/Checkout.png" alt="">
          </div>
          <div class="col-sm-8 txtGroup">
            <h6 class="text-muted">
              Increase your impact
            </h6>
            <h5 class="text-info">
              Girl Sponsorship >
            </h5>
            <h6 class="text-dark">
              Sponsoring a child is the most<br>powerful way you can fight poverty.
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6"></div>
  </div>
</div>