<div class="container">
  <div class="row bgWhite">

    <div class="col-sm-3" *ngFor="let donateTo of charityDisplayed | keyvalue; let i = index">
        <h5 class="pb-4" *ngIf="donateTo.key == 'location'">
          Charity in {{ donateTo.value }}
        </h5>
    </div>
    <div class="col-sm-4">

      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input type="text" #amount class="form-control" id="amount" placeholder="50">
        <div class="input-group-append">
          <select #frequency class="custom-select" id="selection" required>
            <option selected>Choose frequency...</option>
            <option value="ONE-TIME">ONE-TIME</option>
            <option value="MONTHLY">MONTHLY</option>
            <option value="YEARLY">YEARLY</option>
          </select>
        </div>
      </div>
      
    </div>
    <div class="col-sm-3">
      <div class="row d-flex justify-content-center">
        <button (click)="getValue1(amount.value); getValue2(frequency.value)" type="submit" class="btn btn-info ml-3 mb-3">UPDATE</button>
      </div>
      <!-- <div class="row d-flex justify-content-center">
        <button type="submit" class="btn text-danger ml-3 mb-3">Remove</button>
      </div> -->
    </div>
    <div class="col-sm-2 d-flex justify-content-center">
      <strong>
        $ {{ displayVal1 }}
      </strong>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="content">
        <div class="row">
          <div class="col-sm-4 pt-2">
            <img src="../../assets/Checkout.png" alt="">
          </div>
          <div class="col-sm-8 txtGroup">
            <h6 class="text-muted">
              Increase your impact
            </h6>
            <h5 class="text-info">
              Girl Sponsorship >
            </h5>
            <h6 class="text-dark">
              Sponsoring a child is the most<br>powerful way you can fight poverty.
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="totals">
        <div class="row">
          <div class="col-8">
            {{ displayVal2 }} Giving Frequency
          </div>
          <div class="col-4">
            $ {{ displayVal1 }}
          </div>
        </div>
        <div class="row pt-4 font-weight-bold pb-3">
          <div class="col-8">
            TOTAL
          </div>
          <div class="col-4">
            $ {{ displayVal1 }}
          </div>
        </div>
        <div class="row d-flex justify-content-center pt-3">
          
          <div id="myPaypalButtons">
            <!-- <button type="submit" class="floating btn btn-warning ml-3 mb-3 btn-lg" routerLink="donation"> PAYPAL <i class="bi bi-paypal"></i></button> -->
          </div>

        </div>
        <div class="row d-flex justify-content-center pt-1">
          <h5>
            Or
          </h5>
        </div>
        <div class="row d-flex justify-content-center pt-1">
          <button type="submit" class="floating btn btn-warning ml-3 mb-3 btn-lg" routerLink="donation">CHECKOUT ANONYMOUSLY</button>
        </div>
      </div>
    </div>
  </div>
</div>