<div class="container-fluidz top_section">
    <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2"></div>
    <div class="col-xs-10 col-sm-10 col-md-10">
        <p class="h5">Empowering girls out of poverty. <br> For real. For good. <br> Since 2005</p>

    </div>

    </div>
</div>

<div class="container-fluid middle_section" style="background-color: #F6F6F6;
;">
<div class="container mt-1" style="height:auto">
    <p class="text-center  pt-3">Dangerously soft-hearted. <br> But just the right kind of dangerous.</p>
    <p class="h6">That's because we're a global Christian humanitarian organization. We partner with children, families, and their communities to reach their full</p>
    <p class="text-center">potential by tackling the causes of poverty and injustice. </p>
<div class="row">

    <div class="col-xs-5 col-sm-5 col-md-5"></div>
    <div class="col-xs-2 col-sm-2 col-md-2">
        <img  src="assets/superhero.svg" alt="">

    </div>
    <div class="col-xs-5 col-sm-5 col-md-5"></div>

</div>
</div>
</div>

<div class="container-fluid bottom_section mt-1">
<p class="h3 text-center">Believing that no child is lost</p>
</div>

