<div class="container-fluidz top_section">
    <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2"></div>
    <div class="col-xs-10 col-sm-10 col-md-10">
        <p class="h5">Empowering girls out of poverty. <br> For real. For good. <br> Since 2005</p>

    </div>

    </div>
</div>

<div class="container-fluid middle_section" style="background-color: #F6F6F6;
;">
<div class="container mt-1" style="height:auto">

    <h3 class="text-secondary text-center pt-4">WHO WE ARE</h3>
    <p class="text-center h5  pt-2">Dangerously soft-hearted. <br> But just the right kind of dangerous.</p>
    <p class="h5 text-center">That's because we're a global Christian humanitarian organization. We partner with children, families, and their communities to reach their full
    potential by tackling the causes of poverty and injustice. </p>

<div class="row">

    <div class="col-xs-5 col-sm-5 col-md-5"></div>
    <div class="col-xs-2 col-sm-2 col-md-2">
        <img  src="assets/superhero.svg" alt="">

    </div>
    <div class="col-xs-5 col-sm-5 col-md-5"></div>

</div>
</div>
</div>

<div class="container-fluid bottom_section mt-1">
<p class="h3 text-center">Believing that no child is lost</p>
</div>

<div class="container pt-4">
    <h3 class="mt-3 text-center">Leadership Team</h3>
    <div class="row pt-2">

        <div class=" col-md-3">
            <div style="border:1px solid #ddd;padding:10px; border-radius: 10px;" class="tile-column top-col wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-offset-0 vc_col-md-6 vc_col-xs-12 vc_col-has-fill"><div class="vc_column-inner vc_custom_1622673711989"><div class="wpb_wrapper">
                <div class="pl-5">
                <a href="" target="_self" ><img  style="border-radius:100px" width="150" height="150" data-src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg" src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg" data-was-processed="true"></a>
              
                </div>
                <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                <h3 style="text-align: center">Grace Mwende</h3>
                <p class="even-paragraph" style="text-align: center"> Financial Officer</p>
                </div>
                </div>
                <div class="btn-container btn-center"><a class="vc_general btn btn-warning btn-normal btn-classic btn-block btn-color-primary" data-gtm="true" data-internal-promotion="false" data-btn-region="" routerLink="/about" title="">Meet Mwende</a></div>
                </div></div>
            </div>
        </div>
        <div class="col-md-3">
             <div style="border:1px solid #ddd;padding:10px; border-radius: 10px;" class="tile-column top-col wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-offset-0 vc_col-md-6 vc_col-xs-12 vc_col-has-fill"><div class="vc_column-inner vc_custom_1622673711989"><div class="wpb_wrapper">
                <div class="pl-5">
                <a href="" target="_self" ><img  style="border-radius:100px;margin:auto;" width="150" height="150" data-src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg" src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg" data-was-processed="true"></a>
              
                </div>
                <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                <h3 style="text-align: center">Victor Shaviya</h3>
                <p class="even-paragraph" style="text-align: center"> Vice Officer</p>
                </div>
                </div>
                <div class="btn-container btn-center"><a class="vc_general btn btn-warning btn-normal btn-classic btn-block btn-color-primary" data-gtm="true" data-internal-promotion="false" data-btn-region="" routerLink="/about" title="">Meet Shaviya</a></div>
                </div></div>
            </div>
        </div>
        <div class="col-md-3">
             <div style="border:1px solid #ddd;padding:10px; border-radius: 10px;" class="tile-column top-col wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-offset-0 vc_col-md-6 vc_col-xs-12 vc_col-has-fill"><div class="vc_column-inner vc_custom_1622673711989"><div class="wpb_wrapper">
                <div class="pl-5">
                <a href="" target="_self" ><img  style="border-radius:100px;margin:auto;" width="150" height="150" data-src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg" src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg" data-was-processed="true"></a>
              
                </div>
                <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                <h3 style="text-align: center">Yahya Noor</h3>
                <p class="even-paragraph" style="text-align: center"> Vice Officer</p>
                </div>
                </div>
                <div class="btn-container btn-center"><a class="vc_general btn btn-warning btn-normal btn-classic btn-block btn-color-primary" data-gtm="true" data-internal-promotion="false" data-btn-region="" routerLink="/about" title="">Meet Noor</a></div>
                </div></div>
            </div>
        </div>
        <div class="col-md-3">
             <div style="border:1px solid #ddd;padding:10px; border-radius: 10px;" class="tile-column top-col wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-offset-0 vc_col-md-6 vc_col-xs-12 vc_col-has-fill"><div class="vc_column-inner vc_custom_1622673711989"><div class="wpb_wrapper">
                <div class="pl-5">
                <a href="" target="_self" ><img  style="border-radius:100px;margin:auto;" width="150" height="150" data-src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg" src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg" data-was-processed="true"></a>
              
                </div>
                <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                <h3 style="text-align: center">David Rono</h3>
                <p class="even-paragraph" style="text-align: center"> Vice Officer</p>
                </div>
                </div>
                <div class="btn-container btn-center"><a class="vc_general btn btn-warning btn-normal btn-classic btn-block btn-color-primary" data-gtm="true" data-internal-promotion="false" data-btn-region="" routerLink="/about" title="">Meet Rono</a></div>
                </div></div>
            </div>
        </div>

    </div>
</div>

<div class="container pt-4">
    <h3 class="mt-3 text-center">Contact Us</h3>
    <div class="row pt-3">
<div class="col-md-3">
<h3 class="text-center">How can we help you?</h3>
    <p class="text-center   ">Fill out this form to get in touch with us and get an <br> immediate feedback from us concerning your request</p>
    <p class="text-center ">Or give us a call at +254 728234--- We’re here to take <br>   your call during normal business hours .</p>
</div>
<div class="col-md-9">
    <div class="form">

        <div class="row">
            <div class="col-md-6">
                <label for="">First Name </label>
                <input type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="col-md-6">
                <label for="">Lastname</label>
                <input type="text" class="form-control" placeholder="Last Name">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <label for="">Email Address</label>
                <input type="text" class="form-control" placeholder="Email address">
            </div>
            <div class="col-md-6">
                <label for="">Telephone Number</label>
                <input type="text" class="form-control" placeholder="Telephone number">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <label for="">Description</label><br>
                <textarea name="" id="" cols="41" rows="2"></textarea>     
            </div>
            <div class="col-md-6 mt-2">
                <label for="">Help me in</label> <br>
                <select name="" id="myselect">
                    <option value="">Select</option>
                    <option value="">Changing Password</option>
                    <option value="">Gift Catalogue</option>
                    <option value="">Applying to be a charity</option>
                    <option value="">Making A donation</option>
                </select>
            
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <input class="form-control btn btn-warning" type="submit" value="Submit">
            </div>
            <div class="col-md-4"></div>
        </div>

    </div>

</div>
</div>
</div>

<div class="container pt-4">
    <h3 class="mt-4 text-center">Visit Us</h3>

    <div class="row pt-2">

        <div class="col-md-6">

            <p class="mt-3 h4">We are located along Ngong Lane, Ngong Lane Plaza, 1st Floor, Nairobi Kenya</p>

            <p class="h4"><i class="fa fa-map-marker" aria-hidden="true"> Ngong Ln, Nairobi</i></p>
            <p class="h4"><i class="fa fa-phone" aria-hidden="true"> 0770291003</i></p>
            <p class="h4"><i class="fa fa-plus " aria-hidden="true"> MQXM+QR Nairobi</i></p>
            
        </div>
        <div class="col-md-6">
            <iframe class="mt-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7905371822694!2d36.78239551475386!3d-1.3005322990514376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f109dcb26a413%3A0xca1c503989df391d!2sNgong%20Lane%20Plaza!5e0!3m2!1sen!2ske!4v1649583511879!5m2!1sen!2ske" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>


</div>

