.top_section{
    background-image: url('/assets/image-13.png');
    height: 50vh !important;
   background-size: cover;
   background-repeat: no-repeat;
}
.top_section p{
    position: relative;
    top:200px;
    /* left:100px; */
    line-height: 40px;
}
.bottom_section{
    background-image: url('/assets/image-12.png');
    min-height: 60vh !important;
   background-size: cover;
   background-repeat: no-repeat;
}
.middle_section p{
color: black;
font-weight: normal;
font-family: 'Times New Roman', Times, serif;
}

.bottom_section p{
    position: relative;
    top: 300px;
}
