/* Start of NavBar styles */
body {
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Karma', serif;
}

a, button {  
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.logo {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}


.site-header .navbar-nav .nav-link:hover {
  text-decoration: underline 3px;
}

/* End of NavBar styles */






/* Start of Footer styles */
footer {
  
  width: 100%;
  padding: 0.3em;
}

.mt-2em {
  margin: 1.5em 0em 1.5em 0em !important;
}

.icons {
  display: inline !important;
}

.futa {
  margin: 1em;
  color: #FFCB74 !important;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

.futa:hover{
  color: #ffae28  !important;
}

a:hover {
  color: #FFCB74  !important;
}

/* End of Footer styles */
