<div class="container login">
    <div id="form" class="card-body login-card-body mt-0 "  autocomplete="off">
        <h1 class=" text-center mb-4 fw-normal">User Login</h1>
          <div class="form-group">
            <div class="">
              <label for="">Email *</label>
            <input type="email" [(ngModel)]="input.username" class="form-control" placeholder = "example@gmail.com" required><br>
    
          </div>
          </div>
    
          <div class="form-group">
            <div class="">
              <label for="">Password *</label>
            <input type="password"  [(ngModel)]="input.password" class="form-control" placeholder="Password" required><br>
    
          </div>
          </div> 
        
          <div class="form-group">   

                <input type="submit" (click)="onLogin()"  class="form-control btn btn-warning" value="SIGN IN"><br>
          </div>
          <p class=" mt-4">Don't have a Dona account?
         
            <a routerLink="/register" class="text-primary" style="text-decoration: underline;"> Register here</a>
          </p>
    </div>
</div>